{:model "model/robokit_model_250_1000"
 :midi-mappings {:input {28 0 ;; kick
                         34 0
                         35 0
                         36 1 ;; snare
                         37 1
                         39 1
                         38 2 ;; clap
                         45 3 ;; hi-hat open
                         53 3
                         41 4 ;; hi-hat closed
                         43 4
                         44 4
                         46 4
                         51 4
                         54 4
                         42 5 ;; claves
                         40 6 ;; cowbell
                         47 7 ;; crash
                         48 7
                         55 7
                         56 7
                         63 7}
                 :output {0 36 ;; kick
                          1 38 ;; snare
                          2 39 ;; clap
                          3 46 ;; hi-hat open
                          4 42 ;; hi-hat closed
                          5 38 ;; claves
                          6 51 ;; cowbell
                          7 49}} ;; crash
 :network [:optimization-algo :sgd 
           :learning-rate 0.01
           :weight-init :xavier
           ;;:updater (org.deeplearning4j.nn.conf.Updater/ADAM)
           :updater :rmsprop
           :mini-batch true
           :layers
           [[:graves-lstm [:n-in 8 :n-out 64 :activation :tanh]]           
            [:rnn-output :mcxent [:n-in 64 :n-out 256 :activation :softmax]]]
           :backprop true
           :pretrain false]} 

